In [1]:
import os
import sys
import warnings
import pandas as pd
from tqdm.notebook import tqdm

base_path = os.path.abspath(os.path.join(os.getcwd(), ".."))
print(f"base_path: {base_path}")
sys.path.append(base_path)

base_path: /root/sr-press

In [2]:
from express.databases import SQLiteDatabase
from express.datasets import PressingDataset

from express import features as fs
from express import labels as ls

In [3]:
TRAIN_DB_PATH = os.path.join(base_path, "stores/train_database.sqlite")
TEST_DB_PATH = os.path.join(base_path, "stores/test_database.sqlite")

train_db = SQLiteDatabase(TRAIN_DB_PATH)
test_db = SQLiteDatabase(TEST_DB_PATH)

print("train_db:", train_db)
print("test_db:", test_db)

train_db: <express.databases.sqlite.SQLiteDatabase object at 0x7fbdd7dbd6d0>
test_db: <express.databases.sqlite.SQLiteDatabase object at 0x7fbdd7dbd0d0>

In [4]:
print(train_db.games().shape, test_db.games().shape)

(136, 11) (64, 11)

In [5]:
all_features = [f.__name__ for f in fs.all_features]
all_labels = [f.__name__ for f in ls.all_labels]
print("Features:", all_features)
print("Labels:", all_labels)

Features: ['actiontype', 'actiontype_onehot', 'result', 'result_onehot', 'bodypart', 'bodypart_onehot', 'time', 'startlocation', 'relative_startlocation', 'endlocation', 'relative_endlocation', 'startpolar', 'endpolar', 'movement', 'team', 'time_delta', 'space_delta', 'goalscore', 'angle', 'under_pressure', 'speed', 'freeze_frame_360', 'dist_opponent', 'defenders_in_3m_radius', 'closest_11_players', 'get_column_sum_to_player']
Labels: ['concede_shots', 'counterpress', 'possession_change_by_2_actions', 'possession_change_by_4_actions', 'possession_change_by_6_actions', 'possession_change_by_2_actions_and_3m_distance', 'possession_change_by_4_actions_and_3m_distance', 'possession_change_by_6_actions_and_3m_distance', 'possession_change_by_2_actions_and_5m_distance', 'possession_change_by_4_actions_and_5m_distance', 'possession_change_by_6_actions_and_5m_distance', 'possession_change_by_2_actions_and_7m_distance', 'possession_change_by_4_actions_and_7m_distance', 'possession_change_by_6_actions_and_7m_distance', 'possession_change_by_2_actions_and_9m_distance', 'possession_change_by_4_actions_and_9m_distance', 'possession_change_by_6_actions_and_9m_distance', 'possession_change_by_3_seconds', 'possession_change_by_4_seconds', 'possession_change_by_5_seconds', 'possession_change_by_6_seconds', 'possession_change_by_7_seconds', 'possession_change_by_3_seconds_and_3m_distance', 'possession_change_by_4_seconds_and_3m_distance', 'possession_change_by_5_seconds_and_3m_distance', 'possession_change_by_6_seconds_and_3m_distance', 'possession_change_by_7_seconds_and_3m_distance', 'possession_change_by_3_seconds_and_5m_distance', 'possession_change_by_4_seconds_and_5m_distance', 'possession_change_by_5_seconds_and_5m_distance', 'possession_change_by_6_seconds_and_5m_distance', 'possession_change_by_7_seconds_and_5m_distance', 'possession_change_by_3_seconds_and_7m_distance', 'possession_change_by_4_seconds_and_7m_distance', 'possession_change_by_5_seconds_and_7m_distance', 'possession_change_by_6_seconds_and_7m_distance', 'possession_change_by_7_seconds_and_7m_distance', 'possession_change_by_3_seconds_and_9m_distance', 'possession_change_by_4_seconds_and_9m_distance', 'possession_change_by_5_seconds_and_9m_distance', 'possession_change_by_6_seconds_and_9m_distance', 'possession_change_by_7_seconds_and_9m_distance']

In [ ]:
train_dataset = PressingDataset(
    path= os.path.join(base_path, "stores", "datasets", "train"), 
    xfns=["startlocation", "closest_11_players", "freeze_frame_360"],
    yfns=["possession_change_by_5_seconds"], 
    load_cached =False,
    nb_prev_actions = 3,
)

test_dataset = PressingDataset(
    path= os.path.join(base_path, "stores", "datasets", "test"), 
    xfns=["startlocation", "closest_11_players", "freeze_frame_360"],
    yfns=["possession_change_by_5_seconds"], 
    load_cached =False,
    nb_prev_actions = 3,
)

In [ ]:
# Loading Time: 27m
train_dataset.create(train_db)
test_dataset.create(test_db)

  0%|          | 0/136 [00:00<?, ?it/s]

100%|██████████| 136/136 [18:42<00:00,  8.25s/it]
100%|██████████| 136/136 [00:22<00:00,  5.99it/s]
100%|██████████| 64/64 [08:00<00:00,  7.50s/it]
100%|██████████| 64/64 [00:10<00:00,  6.04it/s]

In [8]:
train_dataset.features

                   start_x_a0  start_y_a0  start_x_a1  start_y_a1  start_x_a2  \
game_id action_id
3788741 3             41.7375      61.285     31.2375      42.585     28.0000
        19            84.5250      59.500     41.4750      59.500     38.5875
        27            27.2125      13.940     76.3875      58.055     72.1875
        31            75.7750      60.690     25.9000       9.520     25.2875
        35            79.9750      58.055     20.9125      10.710     29.2250
...                       ...         ...         ...         ...         ...
3943043 2283          82.0750      20.230     37.1000      68.000    100.7125
        2286          34.3000      61.710     33.3375       0.425     91.9625
        2302          47.7750      31.790     35.3500      12.070     38.5875
        2304          49.6125      35.700     47.7750      31.790     69.6500
        2309           8.6625      64.260     93.7125       2.465     92.9250

                   start_y_a2  start_x_a3  start_y_a3  teammate_1_x_a0  \
game_id action_id
3788741 3              43.945     52.0625      34.425        53.579218
        19             54.400     29.9250      34.170        76.496764
        27             68.000     83.0375      56.865        21.941713
        31             11.815     24.4125      10.370        73.332487
        35              7.310     25.7250      10.965        78.241322
...                       ...         ...         ...              ...
3943043 2283           36.805     98.5250      33.235        67.832653
        2286           20.655     67.9000       0.000        42.269977
        2302           11.560     35.9625       7.055        50.047145
        2304           55.930     66.4125      56.440        49.390287
        2309           17.510     49.8750      37.825        10.449531

                   teammate_1_y_a0  ...  opponent_10_x_a3  opponent_10_y_a3  \
game_id action_id                   ...
3788741 3                52.737630  ...               NaN               NaN
        19               53.723000  ...               NaN               NaN
        27               14.556432  ...               NaN               NaN
        31               65.151690  ...               NaN               NaN
        35               57.741576  ...               NaN               NaN
...                            ...  ...               ...               ...
3943043 2283             16.084311  ...         91.875211          35.69973
        2286             58.389380  ...               NaN               NaN
        2302             37.296331  ...               NaN               NaN
        2304             32.930291  ...               NaN               NaN
        2309             59.027809  ...               NaN               NaN

                   opponent_10_distance_a3  opponent_11_x_a3  \
game_id action_id
3788741 3                              NaN               NaN
        19                             NaN               NaN
        27                             NaN               NaN
        31                             NaN               NaN
        35                             NaN               NaN
...                                    ...               ...
3943043 2283                      7.091868         91.756405
        2286                           NaN               NaN
        2302                           NaN               NaN
        2304                           NaN               NaN
        2309                           NaN               NaN

                   opponent_11_y_a3  opponent_11_distance_a3  \
game_id action_id
3788741 3                       NaN                      NaN
        19                      NaN                      NaN
        27                      NaN                      NaN
        31                      NaN                      NaN
        35                      NaN                      NaN
...                             ...                      ...
3943043 2283              46.553855                14.940073
        2286                    NaN                      NaN
        2302                    NaN                      NaN
        2304                    NaN                      NaN
        2309                    NaN                      NaN

                                                 freeze_frame_360_a0  \
game_id action_id
3788741 3          [{'teammate': True, 'actor': False, 'keeper': ...
        19         [{'teammate': True, 'actor': False, 'keeper': ...
        27         [{'teammate': True, 'actor': False, 'keeper': ...
        31         [{'teammate': False, 'actor': False, 'keeper':...
        35         [{'teammate': False, 'actor': False, 'keeper':...
...                                                              ...
3943043 2283       [{'teammate': True, 'actor': False, 'keeper': ...
        2286       [{'teammate': True, 'actor': True, 'keeper': F...
        2302       [{'teammate': True, 'actor': False, 'keeper': ...
        2304       [{'teammate': True, 'actor': False, 'keeper': ...
        2309       [{'teammate': True, 'actor': False, 'keeper': ...

                                                 freeze_frame_360_a1  \
game_id action_id
3788741 3          [{'teammate': True, 'actor': False, 'keeper': ...
        19         [{'teammate': True, 'actor': False, 'keeper': ...
        27         [{'teammate': True, 'actor': False, 'keeper': ...
        31         [{'teammate': True, 'actor': False, 'keeper': ...
        35         [{'teammate': True, 'actor': False, 'keeper': ...
...                                                              ...
3943043 2283       [{'teammate': True, 'actor': True, 'keeper': F...
        2286       [{'teammate': True, 'actor': False, 'keeper': ...
        2302                                                    None
        2304                                                    None
        2309       [{'teammate': True, 'actor': False, 'keeper': ...

                                                 freeze_frame_360_a2  \
game_id action_id
3788741 3          [{'teammate': True, 'actor': False, 'keeper': ...
        19         [{'teammate': True, 'actor': False, 'keeper': ...
        27                                                      None
        31         [{'teammate': False, 'actor': False, 'keeper':...
        35                                                      None
...                                                              ...
3943043 2283                                                    None
        2286       [{'teammate': True, 'actor': True, 'keeper': T...
        2302                                                    None
        2304                                                    None
        2309       [{'teammate': True, 'actor': False, 'keeper': ...

                                                 freeze_frame_360_a3
game_id action_id
3788741 3          [{'teammate': False, 'actor': False, 'keeper':...
        19         [{'teammate': True, 'actor': False, 'keeper': ...
        27         [{'teammate': True, 'actor': False, 'keeper': ...
        31         [{'teammate': True, 'actor': False, 'keeper': ...
        35         [{'teammate': True, 'actor': False, 'keeper': ...
...                                                              ...
3943043 2283       [{'teammate': True, 'actor': False, 'keeper': ...
        2286       [{'teammate': True, 'actor': True, 'keeper': F...
        2302                                                    None
        2304                                                    None
        2309                                                    None

[36948 rows x 264 columns]

In [14]:
train_dataset.labels

                   possession_change_by_5_seconds
game_id action_id
3788741 3                                    True
        19                                   True
        27                                   True
        31                                  False
        35                                  False
...                                           ...
3943043 2283                                 True
        2286                                False
        2302                                False
        2304                                False
        2309                                False

[36948 rows x 1 columns]

In [15]:
train_dataset.labels["possession_change_by_5_seconds"].value_counts()

False    26609
True     10339
Name: possession_change_by_5_seconds, dtype: int64

In [16]:
test_dataset.labels["possession_change_by_5_seconds"].value_counts()

False    10214
True      4290
Name: possession_change_by_5_seconds, dtype: int64